
<div class="row justify-content-center">
  <div class=col-md-2>

    </div>
    <div class=col-md-2>
<!--<i class="fad fa-trash"></i>-->
      </div>
    <div class=col-md-8 >
      <a mat-raised-button class="actions-main" style="background-color:red;" class="mb-3 mt-3 " routerLink="about" [ngClass]="routeAnimationsElements">
        Delete
      </a>
    
    <a mat-raised-button class="actions-main" color="primary" class="mb-3 mt-3 ml-5" routerLink="studentm" [ngClass]="routeAnimationsElements">
        {{ 'anms.about.change-theme1' | translate }}
      </a>


</div>

</div>

  <div class="row justify-content-center">
    <div class="col-md-4 ">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-3">

    <ng-container matColumnDef="box">
      <th mat-header-cell *matHeaderCellDef width=300></th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox class="example-marginsssss"></mat-checkbox>
      </td>
    </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef width=300> Student Enrolment Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef width=300> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="phonenumber">
    <th mat-header-cell *matHeaderCellDef width=300> Phonenumber </th>
    <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef width=300>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
       <fa-icon [icon]="['fas','edit']"></fa-icon>
      </button>
      <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
       <fa-icon [icon]="['fas','edit']"></fa-icon>
      </button>

    </td>
  </ng-container>




  <tr mat-header-row *matHeaderRowDef="displayedColumns">


  </tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>
  </div>
