<h1>ok1</h1>
































<!--<div class="container" rtl>
  <div class="row">
    <div class="col-md-4">
      </div>
        <div class="col-md-4">
            <h1 class="main-heading">Student Read Form</h1>
          </div>

    <div class="col-md-4">
    </div>
  </div>

  <form [formGroup]="form" >
    <div class="row justify-content-center">
      <div class="col-md-8">


<mat-card>

  <span class="d-flex justify-content-between align-items-baseline">
    <h2>{{ 'anms.examples.form.subtitle1' | translate }}</h2>

  </span>
        <div class="row">
          <mat-form-field class="col">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" readonly >
          <mat-error>
            Name is required
          </mat-error>
          </mat-form-field>
          </div>


          <div class="row">
            <mat-form-field class="col">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phonenumber" readonly >
            <mat-error >
              Phonenumber is required
            </mat-error>
             </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" readonly>
              <mat-error >
                Address is required
              </mat-error>
              </mat-form-field>
              </div>




            <div class="row">
                <mat-form-field class="col">
                <mat-label>Gender</mat-label>
                <input matInput formControlName="gender" readonly>
                <mat-error >
                  gender is required
                </mat-error>
                </mat-form-field>
                </div>





</mat-card>

<mat-card>
  <span class="d-flex justify-content-between align-items-baseline">
    <h2>Academic Information</h2>
  </span>

  <div class="row">
    <mat-form-field class="col">
    <mat-label>Parent Name</mat-label>
    <input matInput formControlName="parentname" readonly >
    <mat-error >
      parentname is required
    </mat-error>
     </mat-form-field>
    </div>



    <div class="row">
      <mat-form-field class="col">
      <mat-label>Class</mat-label>
      <input matInput formControlName="classes" readonly >
      <mat-error >
        Class is required
      </mat-error>
       </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col">
        <mat-label>Dormintory</mat-label>
        <input matInput formControlName="dormintary" readonly >
        <mat-error >
          Dormintory is required
        </mat-error>
         </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col">
          <mat-label>Transport Vehicle</mat-label>
          <input matInput formControlName="vehicleroot" readonly >
          <mat-error >
            Dormintory is required
          </mat-error>
           </mat-form-field>
          </div>



</mat-card>




<mat-card>
  <span class="d-flex justify-content-between align-items-baseline">
    <h2>Account Information</h2>

  </span>
  <div class="row">
    <mat-form-field class="col" [ngClass]="routeAnimationsElements">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" readonly>
      <mat-error *ngIf="form.get('email').hasError('required')">
        {{ 'anms.examples.form.placeholder3' | translate }}
        {{ 'anms.examples.form.error1' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('email')" >
        {{ 'anms.examples.form.placeholder3' | translate }}
        {{ 'anms.examples.form.error2' | translate }}</mat-error>
        <mat-error *ngIf="form.get('email').hasError('email')">
        Email Should be 6 Characters</mat-error>
          <mat-error *ngIf="form.get('email').hasError('email')">
            Email Should Max 15 Characters Below
          </mat-error>
    </mat-form-field>
  </div>


  <div class="row">
    <mat-form-field class="col" [ngClass]="routeAnimationsElements">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" readonly>
      <mat-error *ngIf="form.get('password').invalid">
      *Paswword Must be 8 Characters      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Passord Must Contain Upeer Case<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Passord Must Contain Upeer Case  &nbsp;&nbsp;&nbsp;&nbsp; *Passord Must Contain Lower Case<br>
      *Passord Must Contain Atleast One Number
      </mat-error>
    </mat-form-field>
  </div>



  </mat-card>

  <div class="row buttons d-flex justify-content-between pad">
  <button type="button" mat-raised-button color=""[routerLink]="['/students']" [ngClass]="routeAnimationsElements" class="ml-4 mb-2">
Cancel
</button>
</div>




        </div>
</div>
</form>
</div>-->
