
<div class="container" rtl>
  <div class="row">
    <div class="col-md-4">
      </div>
        <div class="col-md-4">
            <h1 class="main-heading">Student Edit Form</h1>
          </div>

    <div class="col-md-4">
    </div>
  </div>

  <form [formGroup]="form" >
    <div class="row justify-content-center">
      <div class="col-md-8">


<mat-card>

  <span class="d-flex justify-content-between align-items-baseline">
    <h2>{{ 'anms.examples.form.subtitle1' | translate }}</h2>
    <!--mat-slide-toggle formControlName="autosave">
      {{ 'anms.examples.form.autosave' | translate }}
    </mat-slide-toggle-->
  </span>
        <div class="row">
          <mat-form-field class="col">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" >
          <mat-error>
            Name is required
          </mat-error>
          </mat-form-field>
          </div>


          <div class="row">
            <mat-form-field class="col">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phonenumber" >
            <mat-error >
              Phonenumber is required
            </mat-error>
             </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" >
              <mat-error >
                Address is required
              </mat-error>
              </mat-form-field>
              </div>



              <div class="row">
                <mat-form-field class="col">
                  <mat-label>Birth Date</mat-label>
                  <input matInput formControlName="birthdate" [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error >
                    Birthdate is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="row ml-2">
              Gender:<mat-radio-group formControlName="gender"  aria-label="Select an option">
              <mat-radio-button value="male" class="ml-2">Male</mat-radio-button>
              <mat-radio-button value="female" class="ml-2">Female</mat-radio-button>
              <mat-hint class="ml-5">Select Atleast One Gender</mat-hint>
              <mat-error *ngIf="form.get('gender').hasError('required')">
              </mat-error>
            </mat-radio-group>
            </div>

</mat-card>

<mat-card>
  <span class="d-flex justify-content-between align-items-baseline">
    <h2>Academic Information</h2>
  </span>

  <div class="row">
      <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                <mat-label>{{ 'anms.examples.form.placeholder12' | translate }}</mat-label>
                <mat-select formControlName="parentname" >
                  <mat-option *ngFor="let parentsList1 of parentsList" [value]="parentsList1">{{parentsList1}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('parentname').hasError('required')">
              Parent Name is required
                </mat-error>
              </mat-form-field>
              </div>


              <div class="row">
    <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <mat-label>Classes</mat-label>
              <mat-select formControlName="classes" >
                <mat-option *ngFor="let classlist1 of classlist" [value]="classlist1">{{classlist1}}</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('classes').hasError('required')">
                Class Name is required

              </mat-error>
            </mat-form-field>
            </div>



            <div class="row">
          <mat-form-field class="col" [ngClass]="routeAnimationsElements">
            <mat-label>Dormintory</mat-label>
            <mat-select formControlName="dormintary" >
              <mat-option *ngFor="let dormitorynamelist1 of dormitorynamelist" [value]="dormitorynamelist1">{{dormitorynamelist1}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('dormintary').hasError('required')">
            Dormintary is required
            </mat-error>
          </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
            <mat-label>Transport Vehicle</mat-label>
            <mat-select formControlName="vehicleroot" >
              <mat-option *ngFor="let vehiclerootslist1 of vehiclerootslist" [value]="vehiclerootslist1">{{vehiclerootslist1}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('vehicleroot').hasError('required')">
            Transport Vehicle Root is required
            </mat-error>
          </mat-form-field>
        </div>
</mat-card>




<mat-card>
  <span class="d-flex justify-content-between align-items-baseline">
    <h2>Account Information</h2>
    <!--mat-slide-toggle formControlName="autosave">
      {{ 'anms.examples.form.autosave' | translate }}
    </mat-slide-toggle-->
  </span>
  <div class="row">
    <mat-form-field class="col" [ngClass]="routeAnimationsElements">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="form.get('email').hasError('required')">
        {{ 'anms.examples.form.placeholder3' | translate }}
        {{ 'anms.examples.form.error1' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('email')">
        {{ 'anms.examples.form.placeholder3' | translate }}
        {{ 'anms.examples.form.error2' | translate }}</mat-error>
        <mat-error *ngIf="form.get('email').hasError('email')">
        Email Should be 6 Characters</mat-error>
          <mat-error *ngIf="form.get('email').hasError('email')">
            Email Should Max 15 Characters Below
          </mat-error>
    </mat-form-field>
  </div>


  <div class="row">
    <mat-form-field class="col" [ngClass]="routeAnimationsElements">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="form.get('password').invalid">
      *Paswword Must be 8 Characters      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Passord Must Contain Upeer Case<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Passord Must Contain Upeer Case  &nbsp;&nbsp;&nbsp;&nbsp; *Passord Must Contain Lower Case<br>
      *Passord Must Contain Atleast One Number
      </mat-error>
    </mat-form-field>
  </div>



  </mat-card>

  <div class="row buttons d-flex justify-content-between pad">
  <button type="button" mat-raised-button color="accent" class="ml-4 mb-2" [disabled]="form.invalid"
    [ngClass]="routeAnimationsElements" (click)="updateTutorial(form)" >
  Update
  </button>

  <!--<button type="button" mat-raised-button color="warm" class="ml-4 mb-2"
    [ngClass]="routeAnimationsElements" (click)="deleteTutorial(form.get('id'))">
  Delete
  </button>-->


  <button type="button" mat-raised-button color=""[routerLink]="['/students']" [ngClass]="routeAnimationsElements" class="mr-4 mb-2">
Cancel
</button>
</div>




        </div>
</div>
</form>
</div>
